/* Begin  */
#header {
  display: flex;
  height: 49px;
  background-color: #E7C91C;
  justify-content: space-between;
  box-sizing: inherit;
  flex: inherit;
}
.header_box {
  display: flex;
  align-items: inherit;
}
.header_logo {
  padding: 2px 12px;
}
.header_box_name {
  width: 100%;
}
.header_box_name:hover {
  cursor: pointer;
}
.header_input {
  display: flex;
  align-items: center;
  width: 500px;
}
.header_input_txt {
  height: 11px;
  font-size: 12px;
  width: 272px;
  padding: 9px 47px 9px 10px;
  border-radius: 27px;
}
.header_input_icon {
  transform: translateX(-32px);
}
.header_input_icon:hover{
  background-color: #E7C91C;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.header_user {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 6px;
  background-color: #fff;
  border-radius: 43px;
}
.header_user:hover {
  background-color: #000;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}
.content_form_input_box {
  display: flex;
  align-items: center;
}
.content_forming {
  display: flex;
  width: 100%;
}
.content_form_input_lbl {
  transform: translate3d(1%, -223%, 0);
}
.content_form_input_tag {
  width: 223px;
  text-align: right;
  padding-right: 10px;
}
.content_form_input {
  margin: auto;
  width: 50%;
}
#txt_content_form_name {
  padding: 6px;
  width: 205px;
  border-color: yellowgreen;
  border-radius: 10px;
}
#txt_content_form_phone {
  padding: 6px;
  width: 205px;
  border-color: yellowgreen;
  border-radius: 10px;
}
#txt_content_form_address {
  padding: 6px;
  width: 205px;
  border-color: yellowgreen;
  border-radius: 10px;
} 
#txt_content_form_status {
  padding: 6px;
  width: 205px;
  border-color: yellowgreen;
  border-radius: 10px;
}
.content_form_input_button_txt {
  margin: auto;
  padding: 10px 20px;
  background-color: #E7C91C;
  width: 78px;
  transform: translate3d(198%, 58%, 10px);
  border-radius: 49px;
  color: #fff;
  font-weight: 500;
}
.content_form_input_button_txt:hover {
  background-color: #000;
  cursor: pointer;
}
#content_table {
  transform: translate3d(49%, -450px,0);
  width: 69%;
}
.content_table_lbl {
  align-items: inherit;
  align-items: center;
  font-size: 20px;
}
